<mat-accordion>
    <mat-expansion-panel *ngFor="let mes of getMeses()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ mes }}
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <div *ngFor="let cuadrilla of historico[mes] | keyvalue">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ cuadrilla.key }} (Total Puntos: {{ getTotalPuntos(cuadrilla.value) }})
            </mat-panel-title>
          </mat-expansion-panel-header>
  
          <div *ngFor="let trabajador of cuadrilla.value">
            <p>{{ trabajador.trabajador }} - Puntos: {{ trabajador.puntos }}</p>
          </div>
        </mat-expansion-panel>
      </div>
    </mat-expansion-panel>
  </mat-accordion>