<mat-toolbar color="primary">
  <div class="navbar-left">
    <img src="assets/LUCLAND-NO-BAK-WHITE.png" alt="Logo" class="navbar-logo">
    <span class="navbar-title">CONTROL DE PUNTOS</span>
  </div>
  <span class="spacer"></span>
  <span class="centered-content" *ngIf="welcomeMessage"><strong>{{ welcomeMessage }}</strong></span>
  <span class="spacer"></span>
  <div class="navbar-right">
    <a mat-button (click)="navigateToHome()">Celadores</a>
    <a mat-button (click)="navigateToEmpalmadores()">Empalmadores</a>
    <a mat-button (click)="navigateToLogin()">Login</a>
    <a mat-button (click)="navigateToHistorico()">Historico</a>
    <a mat-button (click)="navigateToNormas()">Normas</a>
  </div>
</mat-toolbar>
  