<div class="normas-container">
    <h1>1. INTRODUCCIÓN</h1>
    <p>
      Nos complace informarles que nuestra empresa opera bajo un sistema de pago por producción. Esto significa que la remuneración está directamente vinculada a la cantidad de trabajo realizado.
    </p>
    <p>
      Entendemos que habrá días en los que no se logre este objetivo y otros en los que se superará. Por ello, al final de cada mes, se realizará una contabilidad total de puntos por trabajador para determinar la producción mensual.
    </p>
    <p>
      Este sistema nos permite ser justos y equitativos, recompensando el esfuerzo y la dedicación de cada uno de ustedes. Si tienen alguna pregunta o necesitan más información, no duden en ponerse en contacto con su supervisor.
    </p>
    <h1>2. OBTENCIÓN DE PUNTOS</h1>
    <p>
        LUCLAND OBRA CIVIL S.L. será la encargada de establecer los puntos realizados por cada trabajador. Esto se debe a que, al certificar los trabajos a ELECNOR, en ocasiones es necesario realizar nuevamente trabajos ya hechos u otros motivos que puedan surgir, inutilizando los puntos realizados.
    </p>
    <p>
        Este sistema nos permite asegurar que todos los trabajos se certifiquen correctamente y que los puntos reflejen el esfuerzo y la calidad del trabajo realizado. Agradecemos su comprensión y colaboración en este proceso.
    </p>
    <p>
        Si tienen alguna pregunta o necesitan más información, no duden en ponerse en contacto con su supervisor.
    </p>
    <h1>3. BENEFICIO POR PRODUCCIÓN</h1>
    <p>
        Queremos informarles que, como al final de cada mes se realizará una contabilidad total de los puntos obtenidos por cada trabajador,e sto nos permitirá evaluar la producción mensual de manera precisa.
    </p>
    <p>
        Esto significa que. todos los puntos extra generados a partir de los pedidos realizados por la empresa se pagarán a una tarifa de 7€ por punto. Este sistema nos permite recompensar adecuadamente el esfuerzo adicional y asegurar una compensación justa para todos.
    </p>
    <h1>4. OPERATIVA SEGÚN PUESTO DE TRABAJO</h1>
    <p>
        Cada puesto de trabajo tendrá una manera distinta de generar puntos.
    </p>
    <h1>4.1. CELADORES</h1>
    <p>
        Debido a que los empalmadores trabajan en cuadrillas constituidas por tres trabajadores, cuando LUCLAND OBRA CIVIL S.L. establezca los puntos de la cuadrilla, dividirá entre 3 el total obtenido para sumarle a cada trabajador de manera individual.
    </p>
    <p>
        Cada cuadrilla tendrá que hacer <strong>600 puntos mensuales</strong>.
    </p>
    <p>
        Por ejemplo, si la cuadrilla 'ABC01' genera en una semana 90 puntos, cada trabajador obtendría 30.
    </p>
    <p>
        El desglose de los puntos para celadores es:
    </p>
    <table>
        <thead>
          <tr>
            <th>Descripción</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>INSTALACIÓN > 8 FO EN CANALIZACIÓN</td>
            <td>0,0724 x 1m</td>
          </tr>
          <tr>
            <td>INSTALACIÓN <= 8 FO EN CANALIZACIÓN</td>
            <td>0,0573 x 1m</td>
          </tr>
          <tr>
            <td>INSTALACIÓN P Poste</td>
            <td>0,0659 x 1m</td>
          </tr>
          <tr>
            <td>INSTALACIÓN PA Paso aéreo</td>
            <td>0,0902 x 1m</td>
          </tr>
          <tr>
            <td>Inst. cable FO en vertical (riser)</td>
            <td>0,127 x 1m</td>
          </tr>
          <tr>
            <td>Instalación FO en edificio</td>
            <td>0,1449 x 1m</td>
          </tr>
          <tr>
            <td>INSTALACIÓN CAJA TERMINAL ÓPTICA</td>
            <td>1,7355 x 1ud.</td>
          </tr>
          <tr>
            <td>INSTALACIÓN CAJA EMPALME ÓPTICA</td>
            <td>1,62 x 1ud.</td>
          </tr>
        </tbody>
      </table>
    <h1>4.2. EMPALMADORES</h1>
    <p>
        Este es un puesto de trabajo individual, la manera de calcular el mínimo de puntos que tendrá que realizar mensualmente será 13 x total días laborables del mes.
    </p>
    <p>
        Si por ejemplo en un mes hay 20 días, todos los puntos generados a partir de 260 se cobraría extra por producción. Si el empalmador hace tareas de celador, también se le sumarán los puntos utilizando la operativa descrita para celadores.
    </p>
    <p>
        El desglose de puntos de los empalmadores son:
    </p>
    <table>
        <thead>
          <tr>
            <th>Descripción</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Instalar CTO</td>
            <td>1,7355</td>
          </tr>
          <tr>
            <td>Instalar DIV/MIN</td>
            <td>1,6200</td>
          </tr>
          <tr>
            <td>Extremo</td>
            <td>1,3300</td>
          </tr>
          <tr>
            <td>Sangrado</td>
            <td>2,2610</td>
          </tr>
          <tr>
            <td>Fusión normal <= 8</td>
            <td>0,6598</td>
          </tr>
          <tr>
            <td>Fusión normal > 8</td>
            <td>0,5150</td>
          </tr>
          <tr>
            <td>Fusión RISER</td>
            <td>0,6600</td>
          </tr>
          <tr>
            <td>Instalación CD</td>
            <td>0,6500</td>
          </tr>
        </tbody>
      </table>
      <h1>4.2. OTROS</h1>
      <p>
          En caso de realizar otras actividades no desglosadas, se contabilizarán también en el cómputo mensual.
      </p>
  </div>